{% extends "base.html" %}
{% block title %}- Generated URL List{% endblock %}

{% block header%}URL Factory{% endblock %}
	{% block content %}URL Factory - Listing{% endblock %}

	{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">URL List</a></li>
		</ol>
	{% endblock %}

	{% block MainContent %}
		<div class="col-12 col-sm-12 col-lg-12">
			<h1>List of </h1>
            <ul>
                {% for mini in minis %}
                <li> {{ mini.url }} via <a href="http://{{ request.get_host }}{% url 'url_redirection' mini.code %}">{{ request.get_host }}{% url 'url_redirection' mini.code %}</a>
                {% if mini.pseudo %}par {{ mini.pseudo }}
                {% endif %}
                ({{ mini.accessNb }} accès)</li>
                {% empty %}
                    <li>Il n'y en a pas actuellement.</li>
                {% endfor %}
            </ul>
        </div>
	{% endblock %}

			{% block sidelinks %}
				<a href="#" class="list-group-item active">What do you need ?</a>
				<a href="{% url 'new_url' %}" class="list-group-item">Add a new URL</a>
				<a href="{% url 'admin:index' %}" class="list-group-item">Admin</a>
			{%endblock%}


{% block footer %}
	<p class="muted credit">URL Factory - Made with pride and love by <a href="http://www.dlcproduction.ch">José Gonçalves</a></p>
{% endblock %}