{% extends "base.html" %}
{% block title %}- Generated URL List{% endblock %}

{% block header%}URL Factory{% endblock %}
	{% block content %}URL Factory - Listing{% endblock %}

	{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="{% url 'url_list' %}">Home</a></li>
			<li class="active">New URL</a></li>
		</ol>
	{% endblock %}

	{% block MainContent %}
		<div class="col-12 col-sm-12 col-lg-12">
			<h1>New URL</h1>
            <form method="post" action="{% url 'url_new' %}">
                {{ form.as_p }}
            </form>
        </div>
	{% endblock %}

			{% block sidelinks %}
				<a href="#" class="list-group-item active">What do you need ?</a>
				<a href="{% url 'url_new' %}" class="list-group-item">Add a new URL</a>
				<a href="/admin" class="list-group-item">Admin</a>
			{%endblock%}


{% block footer %}
	<p class="muted credit">URL Factory - Made with pride and love by <a href="http://www.dlcproduction.ch">José Gonçalves</a></p>
{% endblock %}